*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color-picker-div{
    width: 8rem;
    height: 10rem;
    color: white;
    border-radius: 10px;

    /* background-color: aqua; */
}
.text-div{
    width: 8rem;
    /* height: 2rem; */
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    font-style: italic;
    
}