*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading-text{
  text-align: center;
  padding: 20px 20px;
  background-color: rgba(244, 167, 167, 0.653);
  font-style: italic;
  color: white;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
.main-container{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 20%;
}
.movie-list-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 20%;
  gap: 20px;

}